*-checkpoint.ipynb

data/raw/csvs/
/data/raw/csvs/
data/raw/zips/


notebooks/building_1176_study/.ipynb_checkpoints/
/notebooks/building_1176_study/.ipynb_checkpoints/

data/raw/ashrae-energy-prediction.zip
